<!DOCTYPE html>
<html>
  <head>
    <title>Delete</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="app.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">

  </head>

  <body>
    <form action="/signup" method="POST">
      <input class="name" name="first_name" placeholder="First name">
      <input class="name" name="last_name" placeholder="Last name">

      <input class="email" name="email" placeholder="Email">

      <button class="sign-up" type="submit">Sign Up</button>
    </form>
  </body>
</html>